h1{
    text-align: center;
    font: normal 30pt Arial;

}
body {
    text-align: center;
    background: rgb(10, 226, 255);
    font: normal 18pt Arial;
}
input {
    height: 20px;
    text-align: center;
    font: normal 18 pt Arial;
    width: 100px;
}
div#res {
    text-align: center;
    margin-top: 20px;
}